$main: #00acc1;
$second: #007c91;
$third: #5ddef4;

html,
body,
div {
  padding: 0;
  margin: 0;
}

body {
  color: #fff;
  background-color: whitesmoke;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
}

.title {
  font-family: "Raleway", sans-serif;
  display: inline-block;
  background-color: $main;
  padding: 10px;
  margin: 10px;
  border-top: 7px solid $second;
}

.navbar {
  font-size: 17px;
  background-color: $main;
  width: 50%;
  margin: 10px auto;

  ul {
    display: flex;
    list-style: none;
    padding: 10px;
    border-top: 7px solid $second;

    a {
      position: relative;
      color: #fff;
      width: 50%;
      text-decoration: none;

      &::after {
        content: "";
        position: absolute;
        left: 0px;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: #fff;
        transform: scaleX(0);
        transition: transform 250ms ease-in;
      }

      &:hover::after {
        transform: scaleX(0.4);
      }
    }
  }
}

.parallax-container {
  color: #000;
  width: 40%;
  margin: 50px auto;

  .parallax {
    height: 40vh !important;
    width: 40vw !important;
    background-color: $second;
  }

  .layer {
    height: 40vh !important;
    width: 40vw !important;
  }

  img {
    height: 100%;
    width: 100%;
  }
}

.info {
  position: absolute;
  left: 50%;
  width: 50%;
  padding: 10px;
  margin-top: 500px;
  transform: translate(-50%, -50%);
  background-color: $main;
  border-top: 7px solid $second;
}
